body {
    background-color: lightblue;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    font-style: italic;
    font-weight: 800
  }
header {
  background-color: lightpink;
  padding: 20px;
  color: darkblue;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  font-style: oblique;
}
nav {
  font-style: italic;
  text-align: center;
  font-size: 25px;
  color: darkgreen;
  background-color: white;
  padding: 10px;
}
i{
  color: blue;
  padding-right:0.5em;
  font-size: 25px;
}
h2, h3,h4 {
  color: brown;
  font-weight: 600;
  font-style: italic;
  text-shadow: 1px 1px 1px;
  font-size: 25px;
  text-align: left;
  color: black;
  padding: 1px;
}

.section-wrapper {
border:dashed red;
display: flex;
background: lightgreen;
}

.left {
flex:1;
}

.right {
flex:3;
}

ul {
  list-style-type: lower-latin;
  margin: 30px;
  padding: 30px;
}

img {
  border: 5px dashed purple;
  height: auto;
  width: 200px;
}
a:hover {
  color: blue;
}

footer{
  padding:10rem;
  border: dashed red;
  text-align: center;
  font: bold;
  font-size: 40px;
  color: white

}
