body {
    background-color: lightblue;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    font-style: italic;
    font-weight: 800
  }
header {
  background-color: lightpink;
  padding: 20px;
  color: darkblue;
  text-align: center;
  font-size: 35px;
  font-weight: 800;

}
nav {
  font-style: italic;
  text-align: center;
  font-size: 25px;
  color: darkgreen;
  background-color: white;
  padding: 10px;
}
i{
  color: blue;
  padding-right:0.5em;
  font-size: 25px;
}
h2, h3,h4 {
  color: brown;
  font-weight: 600;
  font-style: italic;
  text-shadow: 1px 1px 1px;
  font-size: 25px;
  text-align: left;
  color: black;
  padding: 1px;
}

.section-wrapper {
border:dashed red;
display: flex;
background: lightgreen;
}

.left {
flex:1;
}

.right {
flex:3;
}

.list-name:hover {
  font-size: 30px;
  color: red;
  transition-duration: 1s;

}

img {
  border: 5px dashed purple;
  height: auto;
  width: 200px;
  transition: width 2s;
}

img:hover {
  width: 400px;
}

p:nth-child(odd) {
  background:white;
}

p:nth-child(even){
  background: black;
  color:white;
  font-size: 15px;
}

.learn-more:hover{
  color:brown;
  font-size: 30px;
  transform-style: preserve-3d;
  transition-duration: 2s;
}

.learn-more:nth-child(n+1){
  background-color: yellow;
}
a:hover {
  color: blue;
  font-style: oblique;
}

footer{
  padding:2rem;
  border: dashed red;
  text-align: center;
  font: bold;
  font-size: 20px;
  color: white
}
